#chat-sidebar {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(#ccc, 0.5);
  display: flex;
  flex-direction: column;
  #sidebar-top {
    display: flex;
    flex-direction: column;

    #sidebar-header {
      flex-basis: 67px;
      background-color: #eeeeee;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;

      #avatar-container {
        flex-basis: 43px;
        height: 43px;

        img {
          height: 100%;
        }
      }

      #actions-container {
        width: 110px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    #sidebar-search {
      flex-basis: 50px;
      background-color: #fbfbfb;
      border-bottom: 1px solid #e1e4e5;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 19px;
        position: absolute;
        left: 30px;
      }

      input {
        width: calc(90% - 60px);
        border: none;
        border-radius: 20px;
        height: 70%;
        padding-left: 60px;
        color: #a4a4a4;
        outline: none;
        box-shadow: 0px 0px 3px #efefef;

        &::placeholder {
          color: #a4a4a4;
          font-weight: 100;
        }
      }
    }
  }

  #no-conversation {
    padding-top: 30px;
    text-align: center;
    color: #b9b9b9;
    font-size: 18px;
    font-weight: 100;
  }

  #sidebar-content {
    overflow: auto;

    .conversation {
      width: 100%;
      height: 67px;
      display: flex;
      padding-right: 5px;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: rgba(#ccc, 0.2);
      }

      .conversation-avatar {
        flex-basis: 73px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          width: 40px;
        }
      }

      .conversation-content {
        border-bottom: 1px solid #f2f2f2;
        flex-grow: 1;
        padding: 13px 0px;
        padding-right: 10px;
        cursor: pointer;

        .conversation-content-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .conversation-content-header-name {
            color: #040404;
          }

          .conversation-content-header-time {
            color: #979797;
            font-size: 13px;
            padding-top: 2px;
          }
        }

        .conversation-content-message {
          display: flex;
          align-items: center;
          color: #717171;
          font-size: 13px;
          padding-top: 5px;

          img {
            margin-right: 2px;
            margin-top: -1px;
          }
        }
      }
    }
  }
}
